/* Create column system */

.col-1  { width: 8.33%  }
.col-2  { width: 16.66% }
.col-3  { width: 25%    }
.col-4  { width: 33.33% }
.col-5  { width: 41.66% }
.col-6  { width: 50%    }
.col-7  { width: 58.33% }
.col-8  { width: 66.66% }
.col-9  { width: 75%    }
.col-10 { width: 83.33% }
.col-11 { width: 91.66% }
.col-12 { width: 100%   }

/* END Create column system */

@font-face {
  font-family: 'South Park';
  src: url('fonts/southpark.woff2') format('woff2'),
       url('fonts/southpark.woff') format('woff'),
       url('southpark.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  box-sizing: border-box;
  font-family: 'South Park';
  font-weight: normal;
  font-style: normal;
  background-image: url("../images/south-park-background-t-and-p.jpg");
  background-size: cover;
  margin: 5px;
}

h1 {
  font-size: 3rem;
  color: #ff6a00;
}

h2 {
  font-size: 1.5rem;
}

.row {
  display: flex;
  margin-top: 4px;
}

.characters {
  display: flex;
}

.character {
  width: 148px;
  height: 112px;
  border: 2px solid green;
  background-color: aliceblue;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.enemy-character {
  background-color: crimson;
  border-color: black;
}

.defender {
  background-color: black;
  color: aliceblue;
  border-color:green;
}

.character-name {
  padding-top: 4px;
}

img {
  width: 112px;
  height: 74px;
  background-color: rgb(39, 47, 92);
  vertical-align: middle;
  margin-bottom: 2px;
}

#your-character {
  height: 120px;
}

button {
  font-size: 1rem;
  height: 30px;
  width: 80px;
  margin-bottom: 6px;
  /* border-radius: 1px; */
}